* {
  background-color: rgba(255, 246, 223, 1);
  justify-content: center;
}

.App {
  margin: auto;
  padding: 0;
  text-align: center;
  min-height: auto;
  max-width: 800px;
  background-color: rgba(255, 246, 223, 1);
  font-family: 'Courier New';
  color: black;
}

.counterDiv {
  padding: 20px;
}

button {
  color: black;
  height: 50px;
  border-radius: 10px;
  font-family: 'Courier New'
}

button:hover {
  background: rgba(252, 204, 3, 1)
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
